//@use '../variables/all';
@use './base' with (

    $primary-color: #C25401,
    $titlebar-shadow-color: transparent,
    $background-bg-color: #f2f4f8,
    $form-bg-color: #f2f4f8,
    $fullscreen-main-bg-color: #f2f4f8,
    $badge-color: white,
    $badge-bg-color: rgb(140, 23, 59),
    $focus-bg-color: white,
    $presentation-info-bg-color: #f2f4f8,
    $accordion-active-bg-color: white,
    $accordion-active-border: white,
    $active-border-radius: 10px,
    $side-menu-a-hover-color: #C25401,
    $ace-standard-font-size: 14px,
    $form-shadow-color: transparent,
    $form-highlight-shadow-color: rgba(0, 0, 0, 0.26),
    $titlebar-border-color: transparent,

    $ace-envelope-highlight-padding: 20px 10px 10px 10px,
    $ace-envelope-highlight-bg-color: #f2f4f8,
    $label-envelope-highlight-color: black,
    $ace-envelope-highlight-focus-bg-color:#ECEFEF,
    $ace-envelop-highlight-label-top-offset: 6px,
    $ace-envelop-highlight-label-empty-offset: 27px,
    $ace-envelop-highlight-border-color: transparent,
    $ace-envelop-highlight-efld-side-padding: 0px,
    $ace-envelop-highlight-autocomple-grid-top: 50px,
    $ace-envelop-highlight-autocomple-popup-grid-top: 60px,

    $prompt-button-ok-bg-color: #C25401,
    $prompt-button-ok-bg-hover-color: #C25401,
    $prompt-button-cancel-color: #C25401,
    $prompt-button-cancel-bg-color: transparent,
    $prompt-button-cancel-bg-hover-color: transparent,

    //$primary-color: blue,

);