/**
Used borders: top,left,bottom,right
 */
$meas-border-null: 0 !default;
$meas-bord-null: 0 !default;
$border-null: 0 !default;

/* Used for
BORDER: .ace-breadcrumbs-separator:before, .ace-popover:before,
			.ace-grid-row:nth-child(odd) .ace-timeline-block .ace-timeline-content:before,.ace-grid-row:nth-child(odd) .ace-timeline-block .ace-timeline-content:after,
			.ace-grid-row:nth-child(even) .ace-timeline-block .ace-timeline-content:before , .ace-grid-row:nth-child(even) .ace-timeline-block .ace-timeline-content:after,
			.ace-timeline-content:before, .ace-timeline-content:after,
 */

$meas-bord-0: 0px !default;
$meas-bord-1: 1px !default;
$meas-bord-2: 2px !default;
$meas-bord-3: 3px !default;
$meas-bord-4: 4px !default;
$meas-bord-5: 5px !default;
$meas-bord-6: 6px !default;
$meas-bord-7: 7px !default;
$meas-bord-8: 8px !default;
$meas-bord-10: 10px !default;
$meas-bord-12: 12px !default;
$meas-bord-15: 15px !default;
$meas-bord-17: 17px !default;
$meas-bord-20: 20px !default;
$meas-bord-25: 25px !default;
$meas-bord-35: 35px !default;


/* Used for
BORDER: .ace-breadcrumbs-separator:before, .ace-popover:before,
			.ace-grid-row:nth-child(odd) .ace-timeline-block .ace-timeline-content:before,.ace-grid-row:nth-child(odd) .ace-timeline-block .ace-timeline-content:after,
			.ace-grid-row:nth-child(even) .ace-timeline-block .ace-timeline-content:before , .ace-grid-row:nth-child(even) .ace-timeline-block .ace-timeline-content:after,
			.ace-timeline-content:before, .ace-timeline-content:after,
 */
$meas-bord-10: 10px !default;
