/* Used for:
.ace-mask-el > div
 */
$meas-marg-per-17: percentage(0.17) !default;

/* Used for
*/
$meas-marg-0: 0px !default;

/* Used for
*/
$meas-marg-1: 1px !default;

/* Used for
*/
$meas-marg-2: 2px !default;

/* Used for
*/
$meas-marg-3: 3px !default;

/* Used for
*/
$meas-marg-4: 4px !default;

/* Used for
.ace-tiny-margin, .ace-i-tiny-margin
*/
$meas-marg-5: 5px !default;

/* Used for
*/
$meas-marg-7: 7px !default;

/* Used for
*/
$meas-marg-8: 8px !default;

/* Used for
*/
$meas-marg-9: 9px !default;

/* Used for:
MARGIN: .ace-grid-cell button, .ace-grid-cell input, .ace-autocomplete-field .ace-autocomplete-extra-link, .ace-entry img, .ace-label-align-left .ace-error-msg,
		.ace-search-bar, .ace-dialog-action-border,
		html[dir="ltr"] .ace-icon-card.ace-icon-card-small i.fa,html[dir="ltr"] .ace-icon-card.ace-icon-card-small i.far,html[dir="ltr"] .ace-icon-card.ace-icon-card-small i.fad,html[dir="ltr"] .ace-icon-card.ace-icon-card-small i.fal,html[dir="rtl"] .ace-icon-card.ace-icon-card-small i.icofont,
		.ace-independent-form .ace-grid .ace-entry-card,
		.ace-separator, .ace-error-msg
 */
$meas-marg-10: 10px !default;

/* Used for
*/
$meas-marg-12: 12px !default;

/* Used for
*/
$meas-marg-13: 13px !default;

/* Used for
.ace-medium-margin, .ace-i-medium-margin
*/
$meas-marg-15: 15px !default;

/* Used for
*/
$meas-marg-18: 18px !default;

/* Used for
*/
$meas-marg-19: 19px !default;

/* Used for
*/
$meas-marg-20: 20px !default;

/* Used for
*/
$meas-marg-22: 22px !default;

/* Used for
*/
$meas-marg-23: 23px !default;

/* Used for
*/
$meas-marg-24: 24px !default;

/* Used for
.ace-big-margin, .ace-i-big-margin
*/
$meas-marg-25: 25px !default;

/* Used for
*/
$meas-marg-34: 34px !default;

/* Used for
.ace-large-margin, .ace-i-large-margin
*/
$meas-marg-35: 35px !default;

/* Used for
*/
$meas-marg-40: 40px !default;

/* Used for
*/
$meas-marg-48: 48px !default;

/* Used for
.ace-content,
*/
$meas-marg-50: 50px !default;

/* Used for
*/
$meas-marg-60: 60px !default;

/* Used for
*/
$meas-marg-75: 75px !default;

/* Used for
*/
$meas-marg-80: 80px !default;

/* Used for
*/
$meas-marg-100: 100px !default;

/* Used for
*/
$meas-marg-120: 120px !default;

/* Used for
*/
$meas-marg-150: 150px !default;

/* Used for
*/
$meas-marg-200: 200px !default;

/* Used for
*/
$meas-marg-230: 230px !default;

/* Used for
*/
$meas-marg-250: 250px !default;
