/**
Used for positioning an element: left, right, top, bottom
 */

$position-0p : 0% !default;
$position-2p : 2% !default;
$position-10p : 10% !default;
$position-25p : 25% !default;
$position-29p : 29% !default;
$position-30p : 30% !default;
$position-50p : 50% !default;
$position-75p : 75% !default;
$position-100p : 100% !default;
$position-122p : 122% !default;
$position-200p : 200% !default;


$position-0: 0px !default;
$position-1: 1px !default;
$position-2: 2px !default;
$position-3: 3px !default;
$position-4: 4px !default;
$position-5: 5px !default;
$position-6: 6px !default;
$position-7: 7px !default;
$position-8: 8px !default;
$position-9: 9px !default;
$position-10: 10px !default;
$position-13: 13px !default;
$position-14: 14px !default;
$position-15: 15px !default;
$position-16: 16px !default;
$position-17: 17px !default;
$position-18: 18px !default;
$position-20: 20px !default;
$position-22: 22px !default;
$position-23: 23px !default;
$position-24: 24px !default;
$position-25: 25px !default;
$position-28: 28px !default;
$position-30: 30px !default;
$position-31: 31px !default;
$position-32: 32px !default;
$position-35: 35px !default;
$position-38: 38px !default;
$position-36d5: 36.5px !default;
$position-39: 39px !default;
$position-40: 40px !default;
$position-41: 41px !default;
$position-42: 42px !default;
$position-50: 50px !default;
$position-71: 71px !default;
$position-100: 100px !default;
$position-150: 150px !default;
$position-300: 300px !default;
