$screen-small: 320px !default;
$screen-medium: 680px !default;
$screen-large: 1024px !default;

$screen-480: 480px !default;
$screen-600: 600px !default;
$screen-681: 681px !default;
$screen-800: 800px !default;
$screen-801: 801px !default;
$screen-1180: 1180px !default;
$screen-1181: 1181px !default;
$screen-1366: 1366px !default;
