/* Used for
box-shaddow
 */
$box-shad-null: 0 !default;
$box-shad-0: 0px !default;
$box-shad-1: 1px !default;
$box-shad-2: 2px !default;
$box-shad-3: 3px !default;
$box-shad-4: 4px !default;
$box-shad-5: 5px !default;
$box-shad-6: 6px !default;
$box-shad-10: 10px !default;
$box-shad-12: 12px !default;
$box-shad-16: 16px !default;
$box-shad-17: 17px !default;
$box-shad-24: 24px !default;
$box-shad-34: 34px !default;
$box-shad-57: 57px !default;
$box-shad-80: 80px !default;
$box-shad-362: 362px !default;