@use "../variables/all" as *;

body,
html {
  padding: $meas-pad-0;
  margin: $meas-marg-0 auto;
  background-color: $background-bg-color;
}

* {
  box-sizing: border-box;
  margin: $meas-marg-0;
  outline: none;
  border: none;
}
.ace-general-wrapper {
  transition: all ease 0.5s;
  height: $meas-full;
  overflow: hidden;
}

@media screen and (min-width: $screen-small) and (max-width: $screen-medium), screen and (min-device-width: $screen-small) and (max-device-height: $screen-medium) and (orientation: landscape) {
  .ace-card-info-bar.ace-col-3 {
    width: 25% !important;
  }
}
