/* begin autocomplete field */

/*
ACE CODE:
>>>>>>>>>>>>>>>>
<div
  class="ace-auto-gen ace-col-10"
  type="autocomplete"
  placeholder="type something here"
  label="Find a student"
  labelwidth="200px"
  searchname="student_name"
  valuename="student_id"
  net="remote=true;autoload=false;fid='loadstudentsfilter';size=5"
  minlength="0"
  autosearchonfocus="true"
  displayrenderer="rendererStudent"
  gridrowrenderer="rendererStudentV2"
></div>
<<<<<<<<<<<<<<<<

RESULT:
>>>>>>>>>>>>>>>>
<div class="ace-auto-gen ace-col-10 ace-field-container ace-label-align-top" type="autocomplete" placeholder="type something here" label="Find a student" labelwidth="200px" searchname="student_name" valuename="student_id" net="remote=true;autoload=false;fid='loadstudentsfilter';size=5" minlength="0" autosearchonfocus="true" displayrenderer="rendererStudent" gridrowrenderer="rendererStudentV2">
  <div class="ace-autocomplete-field ace-form-fields-ignore">
    <input type="text" class="ace-efld ace-empty" aceid="ace-37" value="" placeholder="type something here">
    <div class="ace-grid-auto-complete ace-hide-errors ace-field-container" tabindex="0" agrid="true" style="width: $meas-full; max-width: 1084px; top: 33px; left: 0.28125px; display: none;">
      <div class="ace-grid " style="width:100%">
        <div class="ace-grid-header ace-hide">
          <div class="ace-grid-cell ace-ta-lft  " style="width:100%" hcidx="0" tabindex="0"></div>
        </div>
        <div class="ace-grid-body ace-grid-scrollview" style="">
          <div class="ace-grid-row ace-grid-row-lines ace-grid-column-lines ace-clear" gid="ace-38" ridx="0">
            <div data-label="" class="ace-grid-cell ace-ta-lft    " style="width:100%" cidx="0">
              <b>1:</b> Bob Marley, M, Jamaica, 1945-02-06
            </div>
          </div>
          <div class="ace-grid-row ace-grid-row-lines ace-grid-column-lines ace-clear" gid="ace-38" ridx="1">
            <div data-label="" class="ace-grid-cell ace-ta-lft    " style="width:100%" cidx="0">
              <b>2:</b> Freddy Mercury, M, Zanzibar, 1946-09-05
            </div>
          </div>
          <div class="ace-grid-row ace-grid-row-lines ace-grid-column-lines ace-clear" gid="ace-38" ridx="2">
            <div data-label="" class="ace-grid-cell ace-ta-lft    " style="width:100%" cidx="0">
              <b>3:</b> Shania Twain, F, Canada, 1965-09-28
            </div>
          </div>
          <div class="ace-grid-row ace-grid-row-lines ace-grid-column-lines ace-clear" gid="ace-38" ridx="3">
            <div data-label="" class="ace-grid-cell ace-ta-lft    " style="width:100%" cidx="0">
              <b>4:</b> Jennifer Lopez, F, USA, 1969-07-24
            </div>
          </div>
          <div class="ace-grid-row ace-grid-row-lines ace-grid-column-lines ace-clear" gid="ace-38" ridx="4">
            <div data-label="" class="ace-grid-cell ace-ta-lft    " style="width:100%" cidx="0">
              <b>5:</b> Gordon Matthew Thomas Sumner aka Sting, M, England, 1951-10-02
            </div>
          </div>
        </div>
        <div class="ace-grid-footer">
          <div class="ace-grid-pagination">
            <button jt="0" disabled="" style="">&lt;&lt;</button>
            <button jt="-1" disabled="" style="">&lt;</button>						&nbsp;
            <div>
              <span>Page</span>
              <input type="number" value="1">
              <span>of&nbsp;</span>
              <span class="ace-grid-pagination-tp">3</span>&nbsp;
            </div>
            <button jt="1" style="">&gt;</button>
            <button jt="2" style="">&gt;&gt;</button>
          </div>
          <span class="ace-error-msg"></span>
        </div>
      </div>
    </div>
    <label class="ace-label" style="width:200px">Find a student:</label>
    <button class="ace-autocomplete-clear-button">X</button>
    <span class="ace-error-msg"></span>
  </div>
</div>
<<<<<<<<<<<<<<<<


*/

@use '../variables/all' as *;

.ace-autocomplete-field {
  position: relative;
  width: $meas-full;
  box-sizing: border-box;
  padding-bottom: $meas-pad-20;
  line-height: $meas-line-height-null;
}
@include floatToLTR('.ace-autocomplete-field',left);
@include positionLTR('.ace-autocomplete-field:after',right,$position-10);

.ace-autocomplete-field input {
  width: $meas-full;
  display: flex;
}
@include floatToLTR('.ace-autocomplete-field input',left);

.ace-autocomplete-details-field .ace-efld.ace-hide ~ .ace-label {
  top: $ace-label-top-offset !important;
}
.ace-autocomplete-details-inner-field {
  padding: $meas-pad-10;
}
.ace-autocomplete-field .ace-autocomplete-extra-link {
  margin-top: -$meas-marg-10;
}
@include floatToLTR('.ace-autocomplete-field .ace-autocomplete-extra-link',left);

.ace-autocomplete-field input ~ .ace-autocomplete-clear-button {
  opacity: 0;
  width: $meas-20;
  height: $meas-20;
  min-height: $meas-20;
  padding: $meas-pad-0;
  line-height: $meas-line-height-1d0;
  border: none;
  background-color: $autocomplete-highlight-bg-color;
  color: $autocomplete-contrast-color;
  font-size: $ace-standard-font-size;
  border-radius: $meas-radius-50p;
  margin-top: $meas-marg-7;
  position: relative;
  z-index: 1;
  backface-visibility: hidden;
}

.ace-autocomplete-field .ace-autocomplete-clear-button:hover {
  opacity: 1;
}
@include floatToLTR('.ace-autocomplete-field input ~ .ace-autocomplete-clear-button',right);
@include sideMarginLTR('.ace-autocomplete-field input ~ .ace-autocomplete-clear-button',left,-$meas-marg-25);

.ace-autocomplete-field input:hover ~ .ace-autocomplete-clear-button,
.ace-autocomplete-field input:focus ~ .ace-autocomplete-clear-button {
  opacity: 1;
  pointer-events: all !important;
}
.ace-autocomplete-field .ace-autocomplete-clear-button:hover {
  opacity: 1;
}
//.ace-autocomplete-field .ace-grid-pagination > div span {
//  margin-top: $meas-marg-15;
//}
.ace-autocomplete-field .ace-grid-top-toolbar {
  display: none;
}

.ace-autocomplete-field .ace-chips-field span {
  line-height: initial;
}

.ace-autocomplete-field .ace-grid-auto-complete.ace-field-container {
  position: absolute;
  z-index: 5;
  background-color: $autocomplete-main-bg-color;
  color: $autocomplete-main-color;
  top:  $position-32;
  box-shadow: $box-shad-0 $box-shad-4 $box-shad-16 $autocomplete-main-shadow-color;
}
@include sidePaddingLTR('.ace-autocomplete-field .ace-grid-auto-complete.ace-field-container',right,$meas-pad-0);
@include positionLTR('.ace-autocomplete-field .ace-grid-auto-complete.ace-field-container',left,$position-0);

.ace-text-center .ace-autocomplete-field .ace-grid-auto-complete.ace-field-container {
  left:  $position-0 !important;
  right:  $position-0 !important;
}

.ace-autocomplete-field .ace-grid-pagination input {
  margin: $meas-marg-0 $meas-marg-5 $meas-marg-0 $meas-marg-5;
  padding: $meas-pad-0 !important;
}

.ace-autocomplete-field .ace-grid .ace-grid-cell {
  padding-top: $meas-pad-20;
}

.ace-label-align-left .ace-autocomplete-field input.ace-efld ~ label {
  padding-top: $ace-label-align-left-inner-top-padding;
}

/* end autocomplete field */
